@import "../../styles/colors";

.film-form {
  padding: 40px;
  width: 500px;

  .header-title {
    color: $default-text-color;
    margin-bottom: 20px;
  }
}

.buttons-area {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}
