$background-theme: #555555;
$shadow: #000000;
$main-theme: #232323;
$primary-color: #f50057;
$input-color: #2E2E2E;
$secondary-color: $background-theme;

$primary-button: $primary-color;
$default-button: #FFFFFFE6;

$default-text-color: #ffffff;
$pink-text-color: $primary-color;
$rating-text-color: #80B859;
$film-details-color: #B5B5B5;

$footer-background: #424242;

$error-color: red;
