@import "../../../styles/colors";

.genres {
  display: flex;
  justify-content: space-between;

  color: $default-text-color;
  list-style-type: none;
  font-size: 18px;

  .genre {
    padding-bottom: 15px;
    cursor: pointer;
    margin-bottom: -2px;

    &.selected {
      border-bottom: 2px solid $primary-color;
    }

    &:hover {
      border-bottom: 2px solid $primary-color;
    }

    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}
